body {
    background-color: rgb(148, 176, 201);
}

.launchPage {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.launchPage a {
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}

.launchPage a:hover {
    box-shadow: 3px 3px #800080;
    transition: ease-in-out 0.3s;    
}

.launchPage h1 {
    font: 4rem algerian;
    color: #800080;
}

.launchPage h2 {
    margin-top: 8rem;
}

.section1 {
    background-color: rgba(255, 240, 244,0.3);
    border-radius: 2rem;
    padding: 0.1rem 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    color: #ffffff;
}

.section1 p a {
    text-decoration: none;
    color: #ffffff;
}

.section1 p a:hover {
    color: aqua;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.testament {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.displayBooks {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(224, 30, 30, 0.6);
    padding: 1rem;
    margin: 1rem 2rem;
    border-radius: 12px;
    color: white;
}

.displayBooks a {
    text-decoration: none;
    color: white;
    padding: .5rem;
    background-color: pink;
    margin: .2rem;
    border-radius: .4rem;
}


















